.project-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .project-preview {
        height: 75vh;
        width: calc(50% - 25px);
        margin-top: calc($spacer / 2);
        position: relative;
        color: $text-color;
        text-decoration: none;

        &:first-child,
        &:nth-child(2) {
            margin-top: 0px;
        }

        img {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(0.9);
            transition: $transition;
        }

        .project-title {
            position: absolute;
            left: 50px;
            top: 50px;
            font-size: 50px;
            line-height: initial;
            text-transform: uppercase;
            text-shadow: 0px 0px 3px black;

            @media (max-width: $mobile) {
                font-size: 30px;
            }
        }

        .project-name {
            position: absolute;
            left: calc($spacer / 2);
            bottom: calc($spacer / 2);
            font-size: 25px;
            text-transform: uppercase;
            text-shadow: 0px 0px 3px black;
        }

        .project-date {
            position: absolute;
            right: calc($spacer / 2);
            bottom: calc($spacer / 2);
            font-size: 25px;
            text-shadow: 0px 0px 3px black;
        }

        &.contain {
            img {
                object-fit: contain;
            }
        }

        &.dark {
            img {
                filter: brightness(0.7);
            }
        }

        &:hover {
            img {
                filter: brightness(1);
            }
        }

        &.cursor_soon_trigger {
            filter: brightness(0.75) grayscale(0.75);
        }
    }

    @media (max-width: $mobile) {
        flex-direction: column;

        .project-preview {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 50vh;

            &:not(:first-child) {
                margin-top: calc($spacer / 4);
            }

            .project-title {
                left: 25px;
                top: 25px;
            }

            .project-date,
            .project-name {
                left: auto;
                right: auto;
                bottom: auto;
                position: relative;
                margin: 10px 25px 25px 25px;
            }

            .project-name {
                margin-bottom: 0px;
            }
        }
    }
}
