.simple-link {
    color: white;
    text-decoration: none;
    position: relative;

    span {
        position: relative;
        z-index: 2;
    }

    &::after {
        left: -2px;
        top: calc(100% - 3px);
        content: "";
        background: $yellow;
        height: 1px;
        width: calc(100% + 4px);
        transition: $transition;
        position: absolute;
    }

    &:hover {
        &::after {
            height: calc(100% - 4px);
            top: 2px;
            opacity: 0.5;
        }
    }

    &.yellow {
        color: $yellow;

        &::after {
            background: white;
        }

        &:hover {
            color: white;

            &::after {
                background: $yellow;
            }
        }
    }
}

.alt-simple-link {
    position: relative;
    text-decoration: none;
    color: white;
    display: block;

    span {
        position: relative;
        z-index: 2;
    }

    &::after {
        left: -2px;
        height: calc(100% - 4px);
        top: 1px;
        content: "";
        background: $yellow;
        height: calc(100);
        width: calc(100% + 4px);
        transition: $transition;
        position: absolute;
        opacity: 0;
    }

    &:hover {
        &::after {
            background: $yellow;
            opacity: 0.5;
        }
    }

    &.mt-5 {
        display: block;
        width: fit-content;
    }
}

.simple-dark-link {
    position: relative;
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px;

    div {
        position: relative;
        z-index: 9;
    }

    &::after {
        left: -2px;
        height: calc(100% - 4px);
        top: 1px;
        content: "";
        background: rgba(0, 0, 0, 0.3);
        height: calc(100);
        width: calc(100% + 4px);
        transition: $transition;
        position: absolute;
        opacity: 0;
        border-radius: 10px;
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &.mt-5 {
        display: block;
        width: fit-content;
    }
}
