@font-face {
    font-family: "GeorgeTown";
    src: url("../fonts/GeorgeTown/TTF/GeorgeTown-Regular.ttf");
}

body {
    font-family: "GeorgeTown", sans-serif;
    margin: 0px;
    color: white;
    background: $theme;
}

h2 {
    font-size: 25px;
    text-transform: uppercase;
    color: $text-color;
    letter-spacing: 1px;
}

h3 {
    letter-spacing: 1px;
}

h2.large {
    font-size: 5vw;
    letter-spacing: auto;

    @media (max-width: $mobile) {
        font-size: 9vw;
    }
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: right;
}

#patchwork {
    width: 100%;
}

.container {
    padding: 0px 7vw;
}

.container-large {
    padding: 0px 7vw;
}

::selection {
    background: $yellow;
    color: $theme;
}

a,
p,
ul,
li {
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 1px;
}

ul {
    padding-left: 15px;
}

.yellow {
    color: $yellow;
}

.fs-25 {
    font-size: 25px;
}

.w-100 {
    width: 100%;
}

.my-100 {
    margin-top: $spacer;
    margin-bottom: $spacer;
}

.mx-100 {
    margin-left: $spacer;
    margin-right: $spacer;
}

.mt-100 {
    margin-top: $spacer;

    @media (max-width: $mobile) {
        margin-top: calc($spacer / 2);
    }
}

.mt-5 {
    margin-top: 50px;
}

.mb-5 {
    margin-bottom: 50px;
}

.my-5 {
    margin-top: 50px;
    margin-bottom: 50px;
}

code {
    color: $yellow;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.2);
    padding: 2px 5px;
    border-radius: 3px;
    font-family: "Source Code Pro", monospace;
}

.img-center {
    width: fit-content;
    margin: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .col-md-4 {
        width: calc(100% / 3 - 100px / 3);
        
        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    .col-md-6 {
        width: calc(50% - 50px);
        
        @media (max-width: $mobile) {
            width: 100%;
        }
    }
    
    .col-md-8 {
        width: calc(100% / 3 * 2 - 100px / 3 * 2);
        
        @media (max-width: $mobile) {
            width: 100%;
        }
    }
}

.center-y {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills {
    position: relative;
    padding: $spacer 0px;

    h3 {
        text-transform: uppercase;
    }

    &::after {
        content: "";
        left: 0px;
        top: 0px;
        height: 1px;
        width: 100%;
        background: white;
        position: absolute;
    }

    &::before {
        content: "";
        left: 0px;
        bottom: 0px;
        height: 1px;
        width: 100%;
        background: white;
        position: absolute;
    }

    @media (max-width: $mobile) {
        padding: calc($spacer / 2) 0px;
    }
}

video {
    width: 100%;
}

img {
    width: 100%;
}

.image-zoom {
    overflow: hidden;

    img {
        transition: $transition;
    }
}

.blog-preview {
    h2 {
        margin-top: 0px;
    }
    
    @media (max-width: $mobile) {
        margin: 0px -15px;
    }
}