.collab {
    position: relative;
    padding-bottom: calc($spacer * 2 + 70px);
    margin-top: $spacer;
    width: 100%;

    img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: contain;
    }

    .desc {
        position: absolute;
        top: calc($spacer / 2);
        font-size: 25px;
        right: 0px;
        width: calc(50% - $spacer);

        img {
            position: relative;
            z-index: 2;
        }

        .alt-simple-link {
            font-size: 25px;
            color: $yellow;

            &:hover {
                span {
                    color: white;
                }
            }
        }
    }

    .left {
        width: calc(50% + $spacer / 2);
        max-width: calc(50% + $spacer / 2);
    }

    .right {
        width: calc(50% + $spacer / 2);
        max-width: calc(50% + $spacer / 2);
        position: absolute;
        top: calc($spacer + 70px);
        right: 0px;
    }
}
