.project-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: calc($spacer + 55px);
    padding-bottom: $spacer * 1.5;
    padding-left: 7vw;
    padding-right: 7vw;

    .project-title,
    .project-link {
        font-size: 25px;
        color: $text-color;
        margin: 0px;
        width:fit-content;

        @media (max-width: $mobile) {
            font-size: 20px;
        }
    }

    .project-title {
        text-transform: uppercase;
    }

    .project-main-title {
        margin: 5vw 0px;
        font-size: $spacer;
        color: white;
        text-transform: uppercase;

        @media (max-width: $mobile) {
            font-size: 40px;
        }

        @media (max-width: 768px) {
            font-size: 28px;
        }
    }

    @media (max-width: $mobile) {
        padding-top: calc($spacer / 2 + 65px);
        padding-bottom: calc($spacer / 2);
    }
}

.header-mockup {
    background: #ececec;
}
