.text-block {
    margin-top: $spacer;
    margin-bottom: $spacer;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;

    &:first-child {
        padding-top: 0px;
    }

    &:last-child {
        padding-bottom: 0px;
    }

    .title {
        width: 30%;

        h2 {
            font-size: 25px;
            text-transform: uppercase;
        }
    }

    .content {
        width: calc(70% - $spacer / 2);

        p:last-child {
            margin-bottom: 0px;
        }
    }
}