.text-scroll {
    margin: 100px 0px;
    position: relative;
    overflow: hidden;
    height: 12vw;

    .text {
        position: absolute;
        font-size: 5vw;
        white-space: nowrap;
        transition: 100ms;

        &:first-child {
            top: 0px;
        }

        &:nth-child(2) {
            top: 5vw;
        }
    }

    @media (max-width: $mobile) {
        margin: 50px 0px;
        padding: 0px;
        height: 20vw;

        .text {
            font-size: 9vw;

            &:first-child {
                top: 0px;
            }
    
            &:nth-child(2) {
                top: 9vw;
            }
        }
    }
}
