<footer id="footer">
	<div>
		<p>Discutons ensemble !</p>
	</div>
	<h2>
		<a href="mailto:contact@paul-le-flem.fr">contact@paul-le-flem.fr</a>
	</h2>
	<div class="footer-links">
		<a href="https://www.linkedin.com/in/paul-le-flem">Linkedin</a>
		<a href="https://github.com/Smoqqqq">Github</a>
	</div>
</footer>
