<nav id="navbar">
	<a href="" class="nav-link" style="margin-left: 0px">Paul Le Flem</a>
	<div class="text-end">
		<a class="cursor_opacity_trigger" href="">À propos</a>
		<a class="cursor_opacity_trigger" href="">Projets</a>
		<a class="cursor_opacity_trigger" href="">Contact</a>
		<a class="cursor_opacity_trigger" href="" style="margin-right: 0px">Blog</a>
	</div>
</nav>
