{% extends "base.html.twig" %}

{% block title %}
	Quels sont les qualités importantes chez un développeur ?
{% endblock %}

{% block description %}
	Quelles qualités sont les plus importante pour devenir un bon développeur ?
{% endblock %}

{% block content %}

	<div class="project-header">
		<h1 class="project-main-title">Les qualités du bon développeur</h1>
	</div>

    <div class="container">
        <p>Aujourd'hui, je vous ai préparé une liste de compétences et qualités que je pense nécessaires pour devenir un bon développeur. Bien évidemment, ce n'est que mon avis, et il ne faut pas vous découragez si vous ne possédez pas ces qualités !</p>

        <h2 class="mt-100">L'attention au détail</h2>
        <p>Que vous soyez ou envisagez de devenir un développeur, front-end ou back-end, il vous faudras une grande attention au détail.</p>
        <p>Pour un développeur front-end, cette qualité sera nécessaire pour l'intégration des maquettes, où l'on vous demandera de retranscrire chaque détail, espacement parfaitement.</p>
        <p>Le développeur back-end lui, devra absolument prendre en compte chaque scénario possible, tant pour sécuriser son application, que pour éviter les mauvaises utilisations et les bugs.</p>

        <h2 class="mt-100">La rigueur</h2>
        <p>Un bon développeur se doit d'être rigoureux. Notamment pour un développeur back-end, il est important de ne pas négliger l'aspect sécurité de son application.</p>
        <p>Ce qui fait souvent la différence entre un bon et un mauvais développeur, c'est sa rigueur. Un mauvais développeur execute ce qui lui est demandé, ni plus, ni moins. Un bon développeur, lui, mettra en avant les risques de l'implémentation choisie. Il proposera une sécurisation ou une implémentation plus sécurisée ou plus adapté.</p>

        <h2 class="mt-100">Prendre position / être force de proposition</h2>
        <p>Un développeur, selon moi, se doit de prendre parti, que ce soit dans le choix des technologies pour un projet, ou pour l'implémentation spécifique.</p>
        <p>Un bon développeur ne doit pas hésiter à proposer une mise en place différente, une autre solution etc...</p>
        <p>Il est force de proposition, et n'hésite pas à proposer des solutions différentes pour répondre à une même problématique. Il peut par exemple proposer de nouvelles fonctionnalitées, ou une manière d'améliorer celles qui sont déjà existantes.</p>

        <h2 class="mt-100">Savoir rechercher</h2>
        <p>Le métier de développeur, c'est moitié connaissances et expérience, moitié recherche Google. En effet, il est impossible de retenir tous les langages, mots-clés, librairies et frameworks. Pour être un bon développeur, l'important est donc de bien comprendre les concepts de ces différentes technologies, mais pas de retenir leur implémentation respective.</p>
        <p>Le développeur doit être capable de rechercher sur Google (ou n'importe quel moteur de recherche), et ce de manière efficace. Il doit apprendre à utiliser les bons termes, de manière à trouver solution à son problème.</p>

        <h2 class="mt-100">Le courage</h2>
        <p>Développer, c'est parfois compliqué. C'est parfois décourageant, lorsqu'on est bloqué sur un problème pendant des heures, des jours par fois. Mais lorsque l'on trouve la solution, c'est vraiment gratifiant.</p>
        <p>Pour être développeur, il faut être courageux, ne pas abandonner. Si vous parvenez à franchir la première étape, quand vous ne connaissez encore rien du développement, cela deviendra plus facile, au fur et a mesure que vous augmentez vos connaissances. Cependant, le métier de développeur nécessite un apprentissage constant, et propose chaque jours de nouveaux challenges.</p>

        <h2 class="mt-100">Être humble, savoir reconnaitre ce que l'on ne sait pas</h2>
        <p>On ne sait pas tout. Personne. Et pour être un bon développeur, il faut s'en rendre compte. Parfois, il est nécessaire d'aller vers l'autre, pour apprendre de celui qui à l'expérience.</p>
        <p>Le développeur qui est trop sur de lui, qui pense tout connaitre et ne va pas vers les autres perd une connaissance et une expérience significative.</p>
        <p>Parfois, le regard des autres permet de trouver une solution différente, meilleure ou non, mais cela permet de voir d'un autre oeil, et de réflechir différement.</p>

        <h2 class="mt-100">La passion</h2>
        <p>Après tout, dans le développement, vous devez apprendre chaque jours. Tous. Pas un jours sans. Alors sans passion, vous n'irez pas loin. Un bon développeur se doit d'être passioné par son travail, car c'est cela qui le poussera toujours plus à s'améliorer. Et cela fonctionne pour tous les métiers, trouver un métier intéressant nous poussera à donner le meilleur de nous-même, pas pour l'entreprise et ses performances, mais pour nous, car nous aimons ce que l'on fait.</p>

        <h2 class="mt-100">L'inventivité / imagination</h2>
        <p>Il est nécessaire d'être inventif parfois. En effet, on ne trouve pas la solution à tous les problèmes sur Google... </p>
        <p>Parfois, il n'existe pas de solution directe à un problème. Le bon développeur contournera cette limite, il sera capable, de par son inventivité, d'imaginer une solution différente. </p>
    </div>

{% endblock %}
