<h2 class="large mt-100">Articles de blog</h2>

<div class="row">
	<div class="col-md-6">
		<a href="{{ path("app_blog_speed_up_symfony") }}" class="simple-dark-link cursor_opacity_trigger blog-preview">
			<div>
				<h2>Comment améliorer l'expérience utilisateur d'un site en Symfony
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewbox="0 0 16 16">
						<path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
					</svg>
				</h2>
				<p>Apprenez les bases pour optimiser et rendre un site en Symfony plus rapide grâce à quelques bonne pratiques et l'utilisation de Turbo Drive</p>
			</div>
		</a>
	</div>
</div>
