<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
			| Paul Le Flem
		</title>
		<meta name="description" content="{% block description %}{% endblock %} | Paul Le Flem">
		<link rel="icon" href="{{ asset("build/images/favicon_portfolio_paul_le_flem.png") }}">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
	</head>
	<body>

		<div id="loader" class="loading">
			<div id="firstname">Paul</div>
			<div id="lastname">&nbsp;Le Flem</div>
		</div>

		{% block body %}
			{% block navbar %}
				{% include "block/navbar.html.twig" %}
			{% endblock %}

			{% block content %}{% endblock %}

			{% block footer %}
				{% include "block/footer.html.twig" %}
			{% endblock %}
		{% endblock %}

		<div id="cursor"></div>
	</body>
</html>
