{% extends "base.html.twig" %}

{% block title %}
	Découvrez mon travail sur le site aximonial.fr
{% endblock %}

{% block description %}
	Design, conception d'un back-office, optimisation et développement du site, découvrez comment j'ai conçu ce site catalogue !
{% endblock %}

{% block content %}
	<div class="project-header">
		<h2 class="project-title">Aximonial - site catalogue</h2>
		<h1 class="project-main-title">Un catalogue pour leur biens immobiliers</h1>
		<a href="https://aximonial.fr" class="project-link" target="_blank">aximonial.fr</a>
	</div>

	<div class="image-zoom">
		<img src="{{ asset("build/images/projets/aximonial/paul_le_flem_accueil_projet_aximonial.png") }}" alt="Mockup du portfolio de Agathe Verasdonck" class="w-100 header-mockup">
	</div>

	<div class="container mt-100">
		<div class="text-block">
			<div class="title">
				<h2>LE CLIENT</h2>
			</div>
			<div class="content">
				<p>Créée il y a plus de dix ans par Jean-Noël Charrondière, Aximonial est un syndic de copropriété. Pour leurs clients, ils s'occupent de la gestion locative et de la location de leurs actifs immobiliers, en proposant un suivi personnalisé via un interlocuteur unique.</p>
			</div>
		</div>
		<div class="text-block">
			<div class="title">
				<h2>CAHIER DES CHARGES</h2>
			</div>
			<div class="content">
				<p>Souhaitant digitaliser ses activités, l'entreprise a fait appel à BH Internet pour la conception de leur nouveau site internet. Le site à deux objectifs : offrir de la visibilité à l'entreprise, et augmenter le nombre de clients potentiels. Il a été demandé la conception d'un back-office permettant la gestion des biens immobiliers, ainsi qu'une partie blog.</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row skills">
			<div class="col-md-4">
				<h3>Technologies utilisées</h3>
				<ul>
					<li>Symfony 5.4</li>
					<li>PHP 7.4</li>
					<li>MySQL</li>
					<li>Javascript</li>
					<li>Scss</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h3>Rôle</h3>
				<ul>
					<li>Conception technique</li>
					<li>Développement</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h3>Conditions de travail</h3>
				<ul>
					<li>Travail seul</li>
					<li>En entreprise</li>
					<li>Réalisé à partir d'une maquette</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="text-block">
			<div class="title">
				<h2>Développement du front-end</h2>
			</div>
			<div class="content">
				<p>Aximonial.fr étant principalement une vitrine, j'ai commencé par développer la partie front-end. Le site utilise Bootstrap, et le css est compilé depuis le scss grâce à Webpack. Le front étant relativement simple, il n'a pris que quelques jours à développer.</p>
			</div>
		</div>
		<div class="text-block">
			<div class="title">
				<h2>Développement du back-end</h2>
			</div>
			<div class="content">
				<p>Le back-end était la partie la plus complexe du site, car je débutais à l'époque sur le framework Symfony, que j'avais tout juste commencé à apprendre. J'ai commencé par concevoir le système de catalogue des biens immobiliers. Une entité
					<code>Property</code>
					représente un bien.</p>
			</div>
		</div>
	</div>


	<div class="container">
		<img src="{{ asset("build/images/projets/aximonial/paul_le_flem_creer_article_aximonial.png") }}" alt="Page de création d'un article sur le site aximonial">

		<div class="text-block">
			<div class="title noanim">
				<h2>Conception du blog</h2>
			</div>
			<div class="content">
				<p>Après avoir développé la gestion des biens immobiliers, j'ai démarré la partie blog. un
					<code>Blog</code>
					(article de blog) est composé d'un titre, une catégorie, une image de couverture, une description et un contenu. Le site étant développé en Symfony, j'ai utilisé le bundle
					<a href="https://github.com/dustin10/VichUploaderBundle" target="_blank" rel="noopener noreferrer" class="simple-link">Vich/uploader-bundle</a>
				</p>
			</div>
		</div>

		<div class="text-block">
			<div class="title noanim">
				<h2>Système de filtre</h2>
			</div>
			<div class="content">
				<p>Pour plus facilement pouvoir trouver un bien qui nous correspond, il m'a été demandé d'ajouter un système de filtre. Après concertation, nous avons choisi de proposer comme critère les suivants : type de prix (location / vente), prix (minimum, maximum), type de bien, nombre de pièces (minimum / maximum) et surface. Le filtre fonctionné en modifiant la requête SQL envoyée à la base de données en fonction des filtres choisit.</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="text-block">
			<div class="title">
				<h2>Difficultés rencontrés</h2>
			</div>
			<div class="content">
				<p>Étant le premier vrai projet que je développais en Symfony, il m'a fallu un peu de temps pour l'appréhender. J'ai également dû apprendre à utiliser Webpack, Doctrine et VichUploader, qui m'ont tous servis lors de la réalisation de ce projet. Cet apprentissage fut un challenge, mais qui m'a beaucoup plu, et m'as permis d'évoluer dans mon métier.</p>
			</div>
		</div>
		<div class="text-block">
			<div class="title">
				<h2>Ce que j'en retiens</h2>
			</div>
			<div class="content">
				<p>L'utilisation du framework Symfony, que j'ai apprécié, et que j'utilise maintenant chaque jour, plus d'un an après la réalisation de ce premier projet.</p>
			</div>
		</div>
	</div>

{% endblock %}
